.element__button {
  background: unset;
  border: none;
  outline: none;
  color: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url('../../../images/like-button-disabled.png');
  width: 20px;
  height: 18px;
  padding: 0;
  transition: opacity 1s;
  margin-right: 21px;
}

.element__button:hover {
  opacity: 0.5;
}